<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="postech">
  <link
    name="base_link">
<inertial>
  <origin xyz="-0.03623022 0.04103717 0.25687529"/>
  <mass value="3.76040000"/>
  <inertia ixx="0.01267721" ixy="-0.00000010" ixz="-0.00000011" iyy="0.02263136" iyz="0.00102199" izz="0.02085705"/>
</inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="left_hip_link">
<inertial>
  <origin xyz="-0.00017732 0.00001322 0.00863621"/>
  <mass value="0.76800000"/>
  <inertia ixx="0.00107541" ixy="0.00000008" ixz="-0.00000427" iyy="0.00080743" iyz="-0.00000037" izz="0.00066233"/>
</inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_hip_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_hip_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_hip_joint"
    type="revolute">
    <origin
      xyz="-0.1475 0.08 -0.06"
      rpy="1.5708 0 1.5708" />
    <parent
      link="base_link" />
    <child
      link="left_hip_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-0.383972"
      upper="0.7854"
      effort="100"
      velocity="25" />
    <dynamics
      damping="0.0"
      friction="0.0" />
  </joint>
  <link
    name="left_shoulder_link">
<inertial>
  <origin xyz="0.12821908 0.00135394 0.05846189"/>
  <mass value="0.92600000"/>
  <inertia ixx="0.00097192" ixy="-0.00018065" ixz="-0.00049461" iyy="0.00516463" iyz="-0.00002712" izz="0.00515076"/>
</inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_shoulder_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_shoulder_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_shoulder_joint"
    type="revolute">
    <origin
      xyz="0.0265 0 0.06"
      rpy="0 1.5708 0" />
    <parent
      link="left_hip_link" />
    <child
      link="left_shoulder_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.0472"
      upper="0.523599"
      effort="100"
      velocity="25" />
    <dynamics
      damping="0.0"
      friction="0.0" />
  </joint>
  <link
    name="left_leg_link">
<inertial>
  <origin xyz="-0.08243223 -0.02329330 -0.00121501"/>
  <mass value="0.18700000"/>
  <inertia ixx="0.00017151" ixy="-0.00032647" ixz="-0.00000428" iyy="0.00083950" iyz="-0.00000165" izz="0.00099460"/>
</inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_leg_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_leg_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_leg_joint"
    type="revolute">
    <origin
      xyz="0.22 0 0.07005"
      rpy="0 0 0" />
    <parent
      link="left_shoulder_link" />
    <child
      link="left_leg_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="1.5708"
      effort="100"
      velocity="25" />
    <dynamics
      damping="0.0"
      friction="0.0" />
  </joint>
  <link
    name="left_wheel_link">
<inertial>
  <origin xyz="0.00005714 0.00008934 0.00000200"/>
  <mass value="1.47300000"/>
  <inertia ixx="0.00120926" ixy="-0.00000001" ixz="-0.00000000" iyy="0.00120924" iyz="-0.00000000" izz="0.00192095"/>
</inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/left_wheel_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <cylinder length="0.04075" radius="0.053"/>
      </geometry>
    </collision>
  </link>
  <joint
    name="left_wheel_joint"
    type="continuous">
    <origin
      xyz="-0.2027 -0.085516 0.039877"
      rpy="0 0 0" />
    <parent
      link="left_leg_link" />
    <child
      link="left_wheel_link" />
    <axis
      xyz="0 0 1" />
    <limit
      effort="100"
      velocity="25" />
    <dynamics
      damping="0"
      friction="0" />
  </joint>
  <link
    name="right_hip_link">
<inertial>
  <origin xyz="-0.00017679 0.00001322 0.00863600"/>
  <mass value="0.76800000"/>
  <inertia ixx="0.00107541" ixy="0.00000008" ixz="-0.00000427" iyy="0.00080743" iyz="-0.00000037" izz="0.00066233"/>
</inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_hip_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_hip_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_hip_joint"
    type="revolute">
    <origin
      xyz="-0.1475 -0.08 -0.06"
      rpy="-1.5708 0 -1.5708" />
    <parent
      link="base_link" />
    <child
      link="right_hip_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-0.7854"
      upper="0.383972"
      effort="100"
      velocity="25" />
    <dynamics
      damping="0.0"
      friction="0.0" />
  </joint>
  <link
    name="right_shoulder_link">
<inertial>
  <origin xyz="0.12884217 -0.00153222 0.05873600"/>
  <mass value="0.92600000"/>
  <inertia ixx="0.00097191" ixy="0.00018184" ixz="-0.00049455" iyy="0.00516517" iyz="0.00002744" izz="0.00515133"/>
</inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_shoulder_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_shoulder_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_shoulder_joint"
    type="revolute">
    <origin
      xyz="0.0265 0 0.06"
      rpy="0 1.5708 0" />
    <parent
      link="right_hip_link" />
    <child
      link="right_shoulder_link" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-1.0472"
      upper="0.523599"
      effort="100"
      velocity="25" />
    <dynamics
      damping="0.0"
      friction="0.0" />
  </joint>
  <link
    name="right_leg_link">
<inertial>
  <origin xyz="-0.08242994 0.02329593 0.00166798"/>
  <mass value="0.18700000"/>
  <inertia ixx="0.00017151" ixy="0.00032647" ixz="-0.00000428" iyy="0.00083950" iyz="0.00000165" izz="0.00099460"/>
</inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_leg_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_leg_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_leg_joint"
    type="revolute">
    <origin
      xyz="0.22 0 0.07005"
      rpy="0 0 0" />
    <parent
      link="right_shoulder_link" />
    <child
      link="right_leg_link" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="1.5708"
      effort="100"
      velocity="25" />
    <dynamics
      damping="0.0"
      friction="0.0" />
  </joint>
  <link
    name="right_wheel_link">
<inertial>
  <origin xyz="-0.00010579 -0.00000743 0.00000200"/>
  <mass value="1.47300000"/>
  <inertia ixx="0.00120923" ixy="-0.00000000" ixz="0.00000000" iyy="0.00120926" iyz="0.00000000" izz="0.00192095"/>
</inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/right_wheel_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <cylinder length="0.04075" radius="0.053"/>
      </geometry>
    </collision>
  </link>
  <joint
    name="right_wheel_joint"
    type="continuous">
    <origin
      xyz="-0.2027 0.085516 0.039877"
      rpy="0 0 0" />
    <parent
      link="right_leg_link" />
    <child
      link="right_wheel_link" />
    <axis
      xyz="0 0 -1" />
    <limit
      effort="100"
      velocity="25" />
    <dynamics
      damping="0"
      friction="0" />
  </joint>
  <link
    name="center_caster_link">
<inertial>
  <origin xyz="0.02327198 0.00052337 -0.02289824"/>
  <mass value="0.08963000"/>
  <inertia ixx="0.00003176" ixy="-0.00000000" ixz="0.00000654" iyy="0.00003061" iyz="-0.00000000" izz="0.00003689"/>
</inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/center_caster_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/center_caster_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="center_caster_joint"
    type="continuous">
    <origin
      xyz="-0.00030152 0 -0.1335"
      rpy="0 0 -3.1416" />
    <parent
      link="base_link" />
    <child
      link="center_caster_link" />
    <axis
      xyz="0 0 1" />
    <!-- <limit
      effort="10000"
      velocity="10000" />
    <dynamics
      damping="0"
      friction="0" /> -->
  </joint>
  <link
    name="caster_bottom_link">
<inertial>
  <origin xyz="-0.00000000 -0.00000000 0.00000000"/>
  <mass value="0.40000000"/>
  <inertia ixx="0.00011246" ixy="0.00000000" ixz="0.00000000" iyy="0.00011246" iyz="0.00000000" izz="0.00011748"/>
</inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="../meshes/caster_bottom_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <cylinder length="0.04" radius="0.025"/>
      </geometry>
    </collision>
  </link>
  <joint
    name="caster_bottom_joint"
    type="continuous">
    <origin
      xyz="0.023131 0 -0.0365"
      rpy="-1.5708 0 0" />
    <parent
      link="center_caster_link" />
    <child
      link="caster_bottom_link" />
    <axis
      xyz="0 0 1" />
    <!-- <limit
      effort="10000"
      velocity="10000" />
    <dynamics
      damping="0"
      friction="0" /> -->
  </joint>
</robot>